name: Build the deployment stage of the docker image
on:
  pull_request:
    branches: [main]
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
            fetch-depth: 0

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
            extra_args: --only-verified

      - name: Run linting (Ruff)
        uses: chartboost/ruff-action@e18ae971ccee1b2d7bbef113930f00c670b78da4 # v1

      # Allow multi-platform builds
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 # v3

      # Options: https://github.com/docker/build-push-action
      - name: Build the `deployment` target stage of the image
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6
        with:
            push: false
            target: deployment
            platforms: linux/amd64
            cache-to: type=gha,mode=max
            cache-from: type=gha
