name: Build the deployment stage of the docker image
on:
  pull_request:
    branches: [main]
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
            fetch-depth: 0

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
            extra_args: --only-verified

      - name: Run linting (Ruff)
        uses: chartboost/ruff-action@e18ae971ccee1b2d7bbef113930f00c670b78da4 # v1

      # Allow multi-platform builds
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      # Options: https://github.com/docker/build-push-action
      - name: Build the `deployment` target stage of the image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
            push: false
            target: deployment
            platforms: linux/amd64
            cache-to: type=gha,mode=max
            cache-from: type=gha
